################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VehicleExplorer/.vs/VehicleExplorer
/VehicleExplorer/VehicleExplorer/bin
/VehicleExplorer/VehicleExplorer/obj
/VehicleExplorer/.vs/ProjectEvaluation
